{% extends "base.html" %}
{% block title %}Add Member{% endblock title %}
{% block subheading %}Add Member{% endblock subheading %}
{% block content %}
<div class="container">
   
    <form action="/add_member" method="POST">
        {% csrf_token %}
         <label for="firstname" >First Name</label><br>
         <input type="text" id="firstname" name="firstname" value="{{firstname}}"><br>

         <label for="lastname" >Last Name</label><br>
         <input type="text" id="lastname"name="lastname"value="{{lastname}}"><br>

         <label for="dept" >Department</label><br>
         <input type="text" id="dept" name= "dept"value="{{dept}}"><br>

         <label for="role" >Role</label><br>
         <input type="text" id="role" name="role"value="{{role}}"><br>
         
         <label for="salary" >Salary</label><br>
         <input type="number" id="salary"name="salary"value="{{salary}}"><br>
        
         <label for="bonus" >Bonus</label><br>
         <input type="number" id="bonus"name="bonus"value="{{bonus}}"><br>

         <label for="phone" >Phone No.</label><br>
         <input type="number" id="phone"name="phone"value="{{phone}}"><br>
        
        <hr>
         <button type="submit" class="btn btn-primary">Submit</button>
     </form>
   </div>
{% endblock content %}